{% extends "hr_app/base_auth.html" %}
{% block title %}პაროლი შეცვლილია - HR სისტემა{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4>პაროლი წარმატებით შეიცვალა</h4>
                <p>შეგიძლიათ შეხვიდეთ თქვენი ახალი პაროლით.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">შესვლა</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 